.nav-tabs .nav-link {
      color: #28a745; /* green tabs */
      font-weight: 500;
    }
    .nav-tabs .nav-link.active {
      color: var(--bs-nav-tabs-link-active-color);
      background-color: #fff;
      font-weight: bold;
    }
    .tab-content {
      border: 1px solid #dee2e6;
      border-top: none;
      padding: 20px;
      background-color: #fff;
    }
    .nav-tabs-wrapper {
      background: aqua !important;
    }
 .star-rating {
  display: flex !important;
      font-size: 2rem;
      direction: ltr;
      gap: 5px;
      cursor: pointer;
    }

    .star {
      color: lightgray;
      transition: color 0.3s;
    }

    .star.selected,
    .star:hover,
    .star:hover ~ .star {
      color: gold;
    }

    #selected-rating {
      margin-top: 10px;
      font-size: 1.2rem;
    }