 .continue-btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #556b2f;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                gap: 8px;
                /* Space between the text and the image */
            }

            .btn-arrow {
                width: 16px;
                /* Adjust the size of the arrow icon */
                height: 16px;
            }

            .protection-icon {
                width: 24px;
                /* Adjust the size */
                height: 24px;
                margin-right: 8px;
                /* Space between icon and text */
                vertical-align: middle;
                /* Align icon with the text */
            }

            .cart-table td {
                border-bottom: none !important;
            }

            .cart-table tr th {
                background-color: transparent;
                color: rgba(74, 100, 55, 1);
                font-size: 17.28px;
                font-weight: 400;
                line-height: 25.92px;

            }

            .cart-section {
                background-color: #f8fff3;
                padding: 40px 53px 90px 53px;
                color: #556b2f;
            }
            .cart-table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 30px;
            }

            .cart-table th,
            .cart-table td {
                padding: 15px;
                text-align: left;

            }

            .cart-table th {
                color: #6b8e23;
                font-size: 14px;
            }

            .cart-table .product {
                display: flex;
                align-items: center;
            }

            .cart-table .product img {
                width: 100px;
                height: 100px;
                margin-right: 22px;
            }

            .cart-table .quantity-control button {
                width: 18px;
                /* height: 19px; */
                border: 1px solid rgba(74, 100, 55, 1);
                text-align: center;
                font-size: 15px;
                line-height: 18px;
                cursor: pointer;
                padding: 0;
                color: rgba(74, 100, 55, 1);
            }

            .cart-table .quantity-control input {
                width: 42px;
                height: 19px;
                display: inline-block;
                border: 1px solid rgba(74, 100, 55, 1);
                text-align: center;
                line-height: 18.44px;
                font-size: 15px;
                color: rgba(74, 100, 55, 1);
                background-color: transparent;
            }

            .footer-section {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 35px;
                flex-wrap: wrap;
            }

            .protection {
                display: flex;
                align-items: center;
                color: #7b886c;
            }

            .cart-table tbody tr+tr {
                border-top: 1px solid #C2D0B7;
            }

            .continue-btn {
                background-color: #556b2f;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }
            
            body {
                background-color: #F8FFF3 !important;
            }

            .categories-section {
                padding-top: 10px;
                overflow: hidden;
            }

            .breadcrumbss {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 50px;
                margin: 0;
            }

            .breadcrumbss .cart {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.6);
                font-size: 13.33px;
                line-height: 20px;
                font-weight: 300;
            }

            .breadcrumbss li+li:before {
                content: "";
                display: inline-block;
                width: 7.78px;
                height: 7.78px;
                background-image: url(https://137.sofmatics.com/storage/app/public/images/next-button.png);
                background-size: cover;
                margin-right: 15px;
            }

            .breadcrumbss a {
                text-decoration: none;
                color: rgba(0, 0, 0, 1);
                font-size: 13.33px;
                line-height: 20px;
                font-weight: 300;
            }

            .breadcrumbss li {
                margin-right: 10px;
            }

            .cart-heading {
                text-align: left;
                font-size: 19.27px;
                color: #000000;
                font-weight: 500;
                line-height: 22.58px;
            }

            .continues-button {
                background-color: #476947;
                color: #fff;
                width: 169px;
                height: 46px;
                border-radius: 6.26px;
                font-size: 23.13px;
                line-height: 34px;
                font-weight: 400;

            }

            .nothing1 {
                display: none;
            }

            @media (max-width: 590px) {
                .nothing {
                    display: none;
                }

                .nothing1 {
                    display: block;
                }

                .footer-section {
                    gap: 3px;
                    flex-direction: column;
                    align-items: end;
                }

                .continues-button {
                    width: 82vw;
                }
                .categories-section {
                padding-top: 80px;
            }
            }

            @media (max-width: 991.98px) {
                .cart-table .product {
                    flex-wrap: wrap;
                    flex-direction: column;
                }

                .cart-table .product img {
                    min-width: 90px;
                    min-height: auto;
                }

            }

            @media (max-width: 991.98px) {
                .cart-table tbody tr {
                    display: inherit;

                }

                .cart-table thead {
                    display: inherit;
                }
            }
            @media (max-width: 426px) {
                .footer-section {
                    gap: 5px;
                }

                .continues-button {
                    width: 75vw;
                }
            }

            @media (max-width: 321px) {
                .footer-section {
                    gap: 5px;
                }
            }